{% extends 'layout_manufacturer.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
    <div class="hidden users-flash mb-0" id="flash"></div>
    <div class="container-fluid pe-4">
        <div class="row flex-nowrap">
            <div class="col-2 col-sm-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-right distributor-left-col">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 text-truncate overflow-hidden">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 mt-4" id="menu">
                        <li class="nav-item py-3 w-100">
                            <a href="#" class="align-middle px-0 text-primary nav-icon text-truncate" id="company_information_link">
                                <i class="fa-regular fa-screwdriver-wrench fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Company Information</span>
                            </a>
                        </li>
                        <li class="w-100">
                            <a
                                href="#submenu1"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-chart-mixed fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Reports</span>
                            </a>
                            <ul class="nav flex-column collapse" id="submenu1" data-bs-parent="#menu" style="">
                                <li class="w-100 mb-3">
                                    <a href="#" class="align-middle text-primary nav-icon text-truncate" id="account_settings_link">
                                        <i class="fa-regular fa-chart-pie fa-fw"></i>
                                        <span class="ms-1 d-none d-sm-inline">Analytics</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item w-100">
                            <a class="align-middle text-primary nav-icon text-truncate" href="#" id="users_link">
                                <i class="fa-regular fa-address-book fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Users</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 col-sm-10 pb-3 distributor-right-col">

                {# Main Container #}
                <div class="row">
                    <div class="col-12" id="manufacturer_container"></div>
                </div>
                {# End Main Container #}

            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function(){

            $('body').addClass('d-flex flex-column h-100');

            {# Get correct content on refresh #}
            let uri = window.location.pathname;
            let isAnalytics = uri.match('/manufacturers/analytics');
            let isUsers = uri.match('/manufacturers/users/[0-9]+');
            let isCompanyInformation = uri.match('/manufacturers/company-information');

            {# Handle Page Rload #}
            if(isAnalytics != null)
            {
                getAnalytics();
            }

            if(isUsers != null)
            {
                getUsers();
            }

            if(isCompanyInformation != null)
            {
                getCompanyInformation();
            }

            {# Analyics #}
            function getAnalytics()
            {
                $('#analytics').show();
            }
            {# End Analyics #}

            {# Users #}
            function getUsers()
            {
                $.ajax({
                    url: "{{ path('manufacturer_get_users') }}",
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function (){

                        isLoading(true);
                    },
                    success: function (response) {

                        isLoading(false);
                        $('#manufacturer_container').empty().append(response);
                        window.history.pushState(null, "Fluid", '/manufacturers/users/1');
                    }
                });
            }
            $(document).on('click', '#users_link', function (e) {

                e.preventDefault();

                $.ajax({
                    url: "{{ path('manufacturer_get_users') }}",
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function (){

                        isLoading(true);
                    },
                    success: function (response) {

                        isLoading(false);
                        $('#manufacturer_container').empty().append(response);
                        window.history.pushState(null, "Fluid", '/manufacturers/users/1');
                    }
                });
            });
            $(document).on('click', '.update-user', function (e) {

                e.preventDefault();

                let userId = $(this).attr('data-user-id');

                if(userId > 0 && userId != 'undefined')
                {
                    $.ajax({
                        url: "{{ path('manufacturer_get_user_data') }}",
                        type: 'POST',
                        dataType: 'json',
                        data:{
                            id: userId
                        },
                        beforeSend: function (){

                            isLoading(true);
                        },
                        success: function (response) {

                            $('#user_id').val(userId);
                            $('#user_first_name').val(response.firstName);
                            $('#user_last_name').val(response.lastName);
                            $('#user_email').val(response.email);
                            $('#user_mobile').val(response.mobile);
                            $('#user_telephone').val(response.telephone);
                            $('#user_iso_code').val(response.isoCode);
                            $('#user_intl_code').val(response.intlCode);

                            // International Numbers
                            let input = document.querySelector('#user_mobile');
                            let iso_code = $('#user_iso_code').val();

                            let iti = window.intlTelInput(input, {
                                initialCountry: iso_code,
                                preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                                autoPlaceholder: "polite",
                                nationalMode: true,
                                utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                                separateDialCode: true,
                                utilsScript: "/js/utils.js",
                            });

                            let handleChange = function() {
                                let mobile = $('#user_telephone');
                                let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                                let textNode = document.createTextNode(mobile_number);

                                if(mobile_number != false){

                                    let isoCode = iti.getSelectedCountryData().iso2;
                                    let intlCode = iti.getSelectedCountryData().dialCode;

                                    mobile.val(mobile_number.substring(1));
                                    $('#user_iso_code').val(isoCode);
                                    $('#user_intl_code').val(intlCode);
                                }
                            };

                            // listen to "keyup", but also "change" to update when the user selects a country
                            input.addEventListener('change', handleChange);
                            input.addEventListener('keyup', handleChange);

                            isLoading(false);
                        }
                    });
                }
            });
            $(document).on('submit', '#form_users', function (e) {

                e.preventDefault();

                let isValid = true;
                let firstName = $('#user_first_name').val();
                let lastName = $('#user_last_name').val();
                let telephone = $('#user_telephone').val();
                let email = $('#user_email').val();
                let errorFirstName = $('#error_user_first_name');
                let errorLastName = $('#error_user_last_name');
                let errorTelephone = $('#error_user_telephone');
                let errorEmail = $('#error_user_email');

                errorFirstName.hide();
                errorLastName.hide();
                errorTelephone.hide();
                errorEmail.hide();

                if(firstName == '' || firstName == 'undefined'){

                    errorFirstName.show();
                    isValid = false;
                }

                if(lastName == '' || lastName == 'undefined'){

                    errorLastName.show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    errorTelephone.show();
                    isValid = false;
                }

                if(email == '' || email == 'undefined'){

                    errorEmail.show();
                    isValid = false;
                }

                if(isValid == true)
                {
                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('manufacturer_manage_user') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function () {

                            isLoading(true);
                        },
                        success: function (response) {

                            let colour = 'success';

                            if(response.response)
                            {
                                $('#manufacturer_container').empty().append(response.usersList);
                            }

                            getFlash(response.message);
                            $('#modal_user').modal('hide');
                            $('.modal-backdrop').remove();
                            isLoading(false);
                        }
                    });
                }
            });
            $(document).on('click', '#user_new', function () {

                $('#user_id').val(0);
                $('#user_first_name').val('');
                $('#user_last_name').val('');
                $('#user_telephone').val('');
                $('#user_mobile').val('');
                $('#user_iso_code').val('');
                $('#user_intl_code').val('');
                $('#user_email').val('');

                // International Numbers
                let input = document.querySelector('#user_mobile');
                let iso_code = $('#user_iso_code').val();

                let iti = window.intlTelInput(input, {
                    initialCountry: iso_code,
                    preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                    autoPlaceholder: "polite",
                    nationalMode: true,
                    utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                    separateDialCode: true,
                    utilsScript: "/js/utils.js",
                });

                let handleChange = function() {
                    let mobile = $('#user_telephone');
                    let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                    let textNode = document.createTextNode(mobile_number);

                    if(mobile_number != false){

                        let isoCode = iti.getSelectedCountryData().iso2;
                        let intlCode = iti.getSelectedCountryData().dialCode;

                        mobile.val(mobile_number.substring(1));
                        $('#user_iso_code').val(isoCode);
                        $('#user_intl_code').val(intlCode);
                    }
                };

                // listen to "keyup", but also "change" to update when the user selects a country
                input.addEventListener('change', handleChange);
                input.addEventListener('keyup', handleChange);
            });
            $(document).on('click', '.delete-user', function () {

                $('#delete_user').attr('data-user-id', $(this).attr('data-user-id'));
            });
            $(document).on('click', '#delete_user', function () {

                let user_id = $(this).attr('data-user-id');

                $.ajax({
                    url: "{{ path('manufacturer_user_delete') }}",
                    type: 'POST',
                    data: {
                        id: user_id
                    },
                    beforeSend: function(){
                        isLoading(true);
                    },
                    complete: function(e, xhr, settings){
                        if(e.status === 500){
                            window.location.href = '{{ path('distributor_error_500') }}';
                        }
                    },
                    success: function (response) {

                        getFlash(response.flash);
                        $('#modal_user_delete').modal('hide');
                        $('#manufacturer_container').empty().append(response.html);
                        isLoading(false);
                    }
                });
            });
            {# End Users #}

            {# Company Information #}
            function getCompanyInformation() {

                $.ajax({
                    url: "{{ path('manufacturer_get_company_information') }}",
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function (){

                        isLoading(true);
                    },
                    success: function (response) {

                        isLoading(false);
                        $('#manufacturer_container').empty().append(response);
                        window.history.pushState(null, "Fluid", '/manufacturers/company-information');

                        // International Numbers
                        let input = document.querySelector('#telephone');
                        let iso_code = $('#manufacturer_iso_code').val();

                        let iti = window.intlTelInput(input, {
                            initialCountry: iso_code,
                            preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                            autoPlaceholder: "polite",
                            nationalMode: true,
                            utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                            separateDialCode: true,
                            utilsScript: "/js/utils.js",
                        });

                        let handleChange = function() {
                            let mobile = $('#mobile_no');
                            let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                            let textNode = document.createTextNode(mobile_number);

                            if(mobile_number != false){

                                let isoCode = iti.getSelectedCountryData().iso2;
                                let intlCode = iti.getSelectedCountryData().dialCode;

                                mobile.val(mobile_number.substring(1));
                                $('#manufacturer_iso_code').val(isoCode);
                                $('#manufacturer_intl_code').val(intlCode);
                            }
                        };

                        // listen to "keyup", but also "change" to update when the user selects a country
                        input.addEventListener('change', handleChange);
                        input.addEventListener('keyup', handleChange);
                    }
                });
            }
            $(document).on('click', '#company_information_link', function (e) {

                getCompanyInformation();
            });
            $(document).on('submit','#manufacturers_form', function (e){

                e.preventDefault();

                let isValid = true;
                let manufacturerName = $('#manufacturer_name').val();
                let firstName = $('#first_name').val();
                let lastName = $('#last_name').val();
                let email = $('#email').val();
                let telephone = $('#mobile_no').val();
                let errorManufacturerName = $('#error_manufacturer_name');
                let errorFirstName = $('#error_first_name');
                let errorLastName = $('#error_last_name');
                let errorEmail = $('#error_email');
                let errorTelephone = $('#error_telephone');
                let btn = document.activeElement.getAttribute('name');

                errorManufacturerName.hide();
                errorFirstName.hide();
                errorLastName.hide();
                errorEmail.hide();
                errorTelephone.hide();

                if(manufacturerName == '' || manufacturerName == 'undefined'){

                    errorManufacturerName.show();
                    isValid = false;
                }

                if(firstName == '' || firstName == 'undefined'){

                    errorFirstName.show();
                    isValid = false;
                }

                if(lastName == '' || lastName == 'undefined'){

                    errorLastName.show();
                    isValid = false;
                }

                if(email == '' || email == 'undefined'){

                    errorEmail.empty().append('Required Field').show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    errorTelephone.show();
                    isValid = false;
                }

                if(isValid == true){

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('update_manufacturer') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4 class="text-truncate">Editing '+ response.manufacturer +'</h4>');

                            if(response.manufacturerLogo != '')
                            {
                                $('#logo_img').attr('src', response.manufacturerLogo);
                            }

                            if(btn == 'save_return')
                            {
                                window.location.assign('{{ path('manufacturers_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Company Information #}

            {# Popovers #}
            function popOver() {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })
            }

            {# Flash Message #}
            function getFlash(flash, type = 'success'){
                $('#flash').addClass('alert-'+ type).addClass('alert').addClass('text-center');
                $('#flash').removeClass('users-flash').addClass('users-flash').empty().append(flash).removeClass('hidden');

                setTimeout(function() {
                    $('#flash').removeClass('alert-success').removeClass('alert').removeClass('text-center');
                    $('#flash').removeClass('users-flash').empty().addClass('hidden');
                }, 5000);
            }
            $('#flash').click(function (){
                $('#flash').addClass('hidden');
            });

            {# Loading Overlay #}
            function isLoading(status){

                if(status) {

                    $("div.spanner").addClass("show");
                    $("div.overlay").addClass("show");

                } else {

                    $("div.spanner").removeClass("show");
                    $("div.overlay").removeClass("show");
                }
            }
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
{% endblock %}

