{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="apis_form" id="apis_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="apiId" id="api_id" value="{{ api.id ? api.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="row w-100">
                <div class="col-12 col-md-6">
                    <h4 class="text-truncate">
                        {% if api.id > 0 %}
                            Editing <span id="label">{{ api.name }}</span>
                        {% else %}
                            New API
                        {% endif %}
                    </h4>
                </div>
                <div class="col-12 col-md-6">
                    <button
                        class="action-saveAndReturn btn btn-primary action-save w-sm-100 mb-3 mb-sm-0 float-end text-truncate"
                        type="submit"
                        name="save_return"
                    >
                        <span class="btn-label">Save and exit</span>
                    </button>
                    <button
                        class="action-saveAndContinue btn btn-secondary action-save w-sm-100 mb-3 mb-sm-0 me-0 me-md-3 float-end text-truncate"
                        type="submit"
                        name="save_continue"
                    >
                        <span class="btn-label">
                            <i class="action-icon far fa-edit"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </section>

        <section class="px-4" style="margin-top: 105px">
            <div class="row mt-4">
                {# Tag Name #}
                <div class="col-12">
                    <label class="ms-2 text-primary">
                        API <span class="text-danger">*</span>
                    </label>
                    <input
                        name="api-name"
                        id="api_name"
                        class="form-control"
                        type="text"
                        value="{{ api.name }}"
                        placeholder="Tag Name"
                    >
                    <div class="hidden_msg" id="error_api_name">
                        Required Field
                    </div>
                </div>
            </div>

            {# API Details #}
            <div class="row mt-4">
                <div class="col-12" id="api_details_container">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label class="text-primary mb-2">API Credentials</label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <a
                                href=""
                                class="float-end open-api-details"
                                data-api-details-id="0"
                                data-bs-toggle="modal"
                                data-bs-target="#modal_api_details"
                            >
                                <i class="fa-regular fa-square-plus edit-icon me-2"></i>
                                Add New
                            </a>
                        </div>
                    </div>
                    {% set count = api.apiDetails|length %}
                    {% set i = 0 %}
                    {% for apiDetails in api.apiDetails %}
                        {% set borderTop = '' %}
                        {% set borderBottom = 'border-bottom-dashed' %}
                        {% set i = i + 1 %}
                        {% if i == 1 %}
                            {% set borderTop = 'border-top' %}
                        {% endif %}
                        {% if i == count %}
                            {% set borderBottom = 'border-bottom' %}
                        {% endif %}
                        <div class="row">
                            <div class="col-9 col-sm-11 pe-0">
                                <input
                                        type="hidden"
                                        value="{{ apiDetails.id }}"
                                        name="apiDetails-id[]"
                                >
                                <div class="border-left ps-2 py-2 bg-white {{ borderTop }} {{ borderBottom }}">
                                    {{ nzo_decrypt(apiDetails.distributor.distributorName) }}
                                </div>
                            </div>
                            <div class="col-3 col-sm-1 ps-0 d-table">
                                <div class="border-right py-2 d-table-cell bg-white {{ borderTop }} {{ borderBottom }}" style="display: table-cell !important;">
                                    <a
                                        href=""
                                        class="float-end open-api-details"
                                        data-api-details-id="{{ apiDetails.id }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal_api_details"
                                    >
                                        <i class="fa-solid fa-pen-to-square edit-icon"></i>
                                    </a>
                                    <a
                                        href=""
                                        class="float-end api-delete-icon me-3 text-danger"
                                        data-api-details-id="{{ apiDetails.id }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal_delete_api_details"
                                    >
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </form>

    {# Modal Manage API Details #}
    <div class="modal fade" id="modal_api_details" tabindex="-1" aria-labelledby="modal_api_details_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <form name="form-api-details" id="form_api_details" method="post">
                    <input type="hidden" value="{{ app.request.get('apiId')|default(0) }}" name="api-id" id="api_id">
                    <input type="hidden" value="" name="api-details-id" id="api_details_id">
                    <button type="button" class="btn-close flash-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row mb-3 mt-3">

                            {# Distributor ID #}
                            <div class="col-12 col-sm-6">
                                <label>Distributor <span class="text-danger">*</span> </label>
                                <select name="distributor-id" id="distributor_id" class="form-control">
                                    <option value="">Select a Distributor</option>
                                    {% for distributor in distributors %}
                                        <option value="{{ distributor.id }}">
                                            {{ nzo_decrypt(distributor.distributorName) }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="hidden_msg" id="error_distributor_id">
                                    Required Field
                                </div>
                            </div>

                            {# Organization ID #}
                            <div class="col-12 col-sm-6">
                                <label>Organisation ID <span class="text-danger">*</span> </label>
                                <input
                                    name="organization-id"
                                    id="organization_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="Organisation ID"
                                >
                                <div class="hidden_msg" id="error_organization_id">
                                    Required Field
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">

                            {# Client Secret #}
                            <div class="col-12 col-sm-6">
                                <label>Client Secret <span class="text-danger">*</span> </label>
                                <input
                                    name="client-secret"
                                    id="client_secret"
                                    type="text"
                                    class="form-control"
                                    placeholder="Client Secret"
                                >
                                <div class="hidden_msg" id="error_client_secret">
                                    Required Field
                                </div>
                            </div>

                            {# Client ID #}
                            <div class="col-12 col-sm-6">
                                <label>Client ID <span class="text-danger">*</span> </label>
                                <input
                                    name="client-id"
                                    id="client_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="Client ID"
                                >
                                <div class="hidden_msg" id="error_client_secret">
                                    Required Field
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                        <button type="submit" class="btn btn-primary" id="save_api_details">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Delete API Details Modal #}
    <div class="modal fade" id="modal_delete_api_details" tabindex="-1" aria-labelledby="api_detail_delete_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="api_detail_delete_label">Delete API Connection</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-0">
                            Are you sure you would like to delete this API connection? This action cannot be undone.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-danger btn-sm" id="delete_api_details">DELETE</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save API #}
            $(document).on('submit', '#apis_form', function (e){

                e.preventDefault();

                let api = $('#api_name').val();
                let isValid = true;
                let btn = document.activeElement.getAttribute('name');
                let errorApi = $('#error_api_name');

                errorApi.hide();

                if(api == '' || api == 'undefined'){

                    errorApi.show();
                    isValid = false;
                }

                if(isValid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('api_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4>Editing '+ response.api +'</h4>');
                            $('#label').empty().append(response.api);

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('api_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save API #}

            {# API Details #}
            $(document).on('click', '.open-api-details', function (e){

                e.preventDefault();

                let apiDetailsId = $(this).attr('data-api-details-id');

                $.ajax({
                    url: "{{ path('api_details') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'api-details-id': apiDetailsId,
                    },
                    complete: function(e, xhr, settings){
                        if(e.status === 500){
                            window.location.href = '{{ path('distributor_error_500') }}';
                        }
                    },
                    success: function (response) {

                        $("select option").prop("selected", false);
                        $('#distributor_id').val(response.distributorId).change();
                        $('#client_secret').val(response.clientSecret);
                        $('#client_id').val(response.clientId);
                        $('#organization_id').val(response.organizationId);
                    }
                });

                $('#api_details_id').val(apiDetailsId);

            });
            $(document).on('submit', '#form_api_details', function (e){

                e.preventDefault()

                let distributorId = $('#distributor_id').val();
                let clientId = $('#client_id').val();
                let clientSecret = $('#client_secret').val();
                let organizationId = $('#organization_id').val();
                let isValid = true;
                let errorDistributorId = $('#error_distributor_id');
                let errorOrganizationId = $('#error_organization_id');
                let errorClientSecret = $('#error_client_secret');
                let errorClientId = $('#error_client_id');

                errorDistributorId.hide();
                errorOrganizationId.hide();
                errorClientId.hide();
                errorClientSecret.hide();

                if(distributorId == '' || distributorId == 'undefined'){

                    errorDistributorId.show();
                    isValid = false;
                }

                if(organizationId == '' || organizationId == 'undefined'){

                    errorOrganizationId.show();
                    isValid = false;
                }

                if(clientId == '' || clientId == 'undefined'){

                    errorClientId.show();
                    isValid = false;
                }

                if(clientSecret == '' || clientSecret == 'undefined'){

                    errorClientSecret.show();
                    isValid = false;
                }

                if(isValid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('api_details_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('#api_details_container').empty().append(response.html);
                            $('#modal_api_details').modal('toggle');
                        }
                    });
                }
            });
            $(document).on('click', '.api-delete-icon', function (e){

                e.preventDefault();
                let apiDetailId = $(this).attr('data-api-details-id');

                $('#delete_api_details').attr('data-api-details-id', apiDetailId);
            });
            $(document).on('click', '#delete_api_details', function (e){

                let apiDetailId = $(this).attr('data-api-details-id');

                $.ajax({
                    url: "{{ path('api_details_crud') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        delete:apiDetailId,
                    },
                    success: function (response) {

                        getFlash(response);
                        $('#modal_delete_api_details').modal('toggle');
                        $('#row_'+ apiDetailId).remove();
                    }
                });
            });
            {# End API Details #}
        });

    </script>
{% endblock %}