{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="category_form" id="category_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="category_id" id="category_id" value="{{ category_id ? category_id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="row w-100">
                <div class="col-12 col-md-6">
                        <h4 class="text-truncate cat1-name">
                            {% if category_id > 0 %}
                                Editing <b>{{ category.name }}</b>
                            {% else %}
                                New Category
                            {% endif %}
                        </h4>
                </div>
                <div class="col-12 col-md-6">
                    <button
                        class="action-saveAndReturn btn btn-primary action-save w-sm-100 mb-3 mb-sm-0 float-end text-truncate"
                        type="submit"
                        name="save_return"
                    >
                        <span class="btn-label">Save and exit</span>
                    </button>
                    <button
                            class="action-saveAndContinue btn btn-secondary action-save w-sm-100 mb-3 mb-sm-0 me-0 me-md-3 float-end text-truncate"
                            type="submit"
                            name="save_continue"
                    >
                        <span class="btn-label">
                            <i class="action-icon far fa-edit"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </section>

        <section style="margin-top: 105px">

            {# First Level #}
            <div class="row mt-4 px-4 h-100">
                <div class="col-12 col-md-6">
                    <label for="category" class="text-primary mb-2">Category <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="category"
                        id="category"
                        value="{{ category.name|default('') }}"
                    >
                    <div class="hidden_msg" id="error_category">
                        Required Field
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Tags</label>
                    <div class="position-relative">
                        <div
                            class="form-control cursor-text text-placeholder multi-select tag"
                            data-level="1"
                            data-category-id="{{ category_id ? category_id : 0 }}"
                        >
                            {% if selectedTags|length > 0 %}
                                {% for tag in selectedTags %}
                                    <span class="badge bg-disabled me-3 my-1" data-tag-id="{{ tag.id }}">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            {% else %}
                                Select Tags
                            {% endif %}
                        </div>
                        <div class="row tag_list" style="display: none">
                            {% if selectedTags|length > 0 %}
                                {% for tag in selectedTags %}
                                    <input
                                        type="hidden"
                                        name="tag[1][{{ category.id }}][]"
                                        class="tag_hidden"
                                        data-name="{{ tag.name }}"
                                        value="{{ tag.id }}"
                                        data-tag-hidden-id="{{ tag.id }}"
                                    >
                                {% endfor %}
                            {% endif %}
                            <div id="tag_list_container">
                                {{ tagList|raw }}
                            </div>
                        </div>
                        <div class="hidden_msg" id="error_subCategory">
                            Required Field
                        </div>
                    </div>
                </div>
            </div>
            {# End First Level #}

            {# Second Level #}
            {% if category.id is not null %}
            <div class="row mt-4 px-4 pt-4 border-top">
                <div class="col-12 pb-3">
                    <h5 class="text-primary mb-2 d-inline">Second Level Categories</h5>
                    <a
                        href="#"
                        class="float-end category2-modal-link"
                        data-bs-toggle="modal"
                        data-bs-target="#second_level_modal"
                        data-category-id="{{ app.request.get('categoryId')|default(0) }}"
                    >
                        <i class="fa-solid fa-square-plus me-1"></i>
                        Create New
                    </a>
                </div>
                <div class="col-12" id="level2_container">
                    {% set count = category.categories2|length %}
                    {% set i = 0 %}
                    {% set class = '' %}
                    {% if count > 0 %}
                        {% for cat2 in category.categories2 %}
                            {% set i = i + 1 %}
                            {% if i == count %}
                                {% set class = 'border-bottom' %}
                            {% endif %}
                            <div class="row" data-category2-row="{{ cat2.id }}">
                                <div class="col-9 col-sm-11 pe-0">
                                    <div class="border-left border-top ps-2 py-2 bg-white cat2-name {{ class }}">
                                        {{ cat2.name }}
                                    </div>
                                </div>
                                <div class="col-3 col-sm-1 ps-0 d-table">
                                    <div class="border-right border-top py-2 d-table-cell bg-white {{ class }}" style="display: table-cell !important;">
                                        <a href="" class="float-end level2-edit me-3 text-primary" data-category-id="{{ cat2.id }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a
                                            href="" class="float-end level2-delete me-3 text-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal_delete_level"
                                            data-category-id="{{ cat2.id }}"
                                            data-level="2"
                                        >
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {# Level Two Panel #}
                            <div class="row level2-panel" id="level2_row_{{ cat2.id }}" data-user-id="{{ cat2.id }}" style="display: none">
                                <div class="col-12 d-table">
                                    <div class="border-left border-right {{ class }} d-table-cell px-2 pt-2 bg-white">
                                        <div class="row">
                                            {# Level Two Category #}
                                            <div class="col-12 col-md-6 border-top-dashed">
                                                <label class="text-primary mb-2">
                                                    Name <span class="text-danger">*</span>
                                                </label>
                                                <input
                                                    name="level2_category[{{ cat2.id }}][]"
                                                    data-category-id="{{ cat2.id }}"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Category"
                                                    value="{{ cat2.name }}"
                                                >
                                                <div class="hidden_msg level2-msg">
                                                    Required Field
                                                </div>
                                            </div>

                                            {# Tags #}
                                            <div class="col-12 col-md-6 border-top-dashed">
                                                <label class="text-primary mb-2">
                                                    Tags
                                                </label>
                                                <div class="position-relative">
                                                    <div
                                                        class="form-control cursor-text text-placeholder multi-select tag"
                                                        data-level="2"
                                                        data-category-id="{{ cat2.id }}"
                                                    >
                                                        {{ render(controller(
                                                            'App\\Controller\\AdminDashboardController::getSelectedTags', {'tags':cat2.tags}
                                                        )) }}
                                                    </div>
                                                    <div id="tag_list" class="row tag_list" style="display: none">
                                                        {% if cat2.tagsArray|length > 0 %}
                                                            {% for key, tag in cat2.tagsArray %}
                                                                <input
                                                                    type="hidden"
                                                                    name="tag[2][{{ cat2.id }}][]"
                                                                    class="tag_hidden"
                                                                    data-name="{{ key }}"
                                                                    value="{{ tag }}"
                                                                    data-tag-hidden-id="{{ tag }}"
                                                                >
                                                            {% endfor %}
                                                        {% endif %}
                                                        <div
                                                            class="tag-list-container"
                                                            data-category-id="{{ cat2.id }}"
                                                        >
                                                            {{ tagList2|raw }}
                                                        </div>
                                                    </div>
                                                    <div class="hidden_msg" id="error_ctag">
                                                        Required Field
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# Third Llevel #}
                                        <div class="row">
                                            <div class="col-12 pb-3 mt-3 border-top-dashed pt-3">
                                                <h6 class="text-primary mb-2 d-inline">Third Level Category</h6>
                                                <a href="#"
                                                   class="float-end category3-modal-link"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#third_level_modal"
                                                   data-category-id="{{ cat2.id }}"
                                                >
                                                    <i class="fa-solid fa-square-plus me-1"></i>
                                                    Create New
                                                </a>
                                            </div>
                                            <div class="col-12" id="level3_container">
                                            {% if cat2.categories3 is not null %}
                                                {% set count2 = cat2.categories3|length %}
                                                {% set c = 0 %}
                                                {% set class = '' %}
                                                {% if count2 > 0 %}
                                                    {% for cat3 in cat2.categories3 %}
                                                        {% set c = c + 1 %}
                                                        {% if c - 1 == count2 %}
                                                            {% set class = 'border-bottom' %}
                                                        {% endif %}
                                                        <div class="row" data-category3-row="{{ cat3.id }}">
                                                            <div class="col-9 col-sm-11 ps-1 pe-0">
                                                                <div class="border-top ps-2 py-2 bg-secondary cat3-name">
                                                                    {{ cat3.name }}
                                                                </div>
                                                            </div>
                                                            <div class="col-3 col-sm-1 ps-0 pe-1 d-table">
                                                                <div class="border-top py-2 d-table-cell bg-secondary" style="display: table-cell !important;">
                                                                    <a href="" class="float-end level3-edit me-3 text-primary" data-category-id="{{ cat3.id }}">
                                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                                    </a>
                                                                    <a
                                                                        href="" class="float-end level3-delete me-3 text-danger"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal_delete_level"
                                                                        data-category-id="{{ cat3.id }}"
                                                                        data-level="3"
                                                                    >
                                                                        <i class="fa-solid fa-trash-can"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {# Level Three Panel #}
                                                        <div class="row level3-panel" id="level3_row_{{ cat3.id }}" data-user-id="{{ cat3.id }}" style="display: none">
                                                            <div class="col-12 d-table">
                                                                <div class="row mb-3">
                                                                    {# Level Three Category #}
                                                                    <div class="col-12 col-md-6">
                                                                        <label class="text-primary mb-2">
                                                                            Name <span class="text-danger">*</span>
                                                                        </label>
                                                                        <input
                                                                            name="level3_category[{{ cat3.id }}][]"
                                                                            data-category-id="{{ cat3.id }}"
                                                                            type="text"
                                                                            class="form-control"
                                                                            placeholder="Category"
                                                                            value="{{ cat3.name }}"
                                                                        >
                                                                        <div class="hidden_msg level3-msg">
                                                                            Required Field
                                                                        </div>
                                                                    </div>

                                                                    {# Tags #}
                                                                    <div class="col-12 col-md-6">
                                                                        <label class="text-primary mb-2">
                                                                            Tags
                                                                        </label>
                                                                        <div class="position-relative">
                                                                            <div
                                                                                class="form-control cursor-text text-placeholder multi-select tag"
                                                                                data-level="3"
                                                                                data-category-id="{{ cat3.id }}"
                                                                            >
                                                                                {{ render(controller(
                                                                                    'App\\Controller\\AdminDashboardController::getSelectedTags', {'tags':cat3.tags}
                                                                                )) }}
                                                                            </div>
                                                                            <div id="tag_list" class="row tag_list" style="display: none">
                                                                                {% set tagsArray = cat3.tags|json_decode %}
                                                                                {% if tagsArray|length > 0 %}
                                                                                    {% for key, tag in tagsArray %}
                                                                                        <input
                                                                                            type="hidden"
                                                                                            name="tag[3][{{ cat3.id }}][]"
                                                                                            class="tag_hidden"
                                                                                            data-name="{{ key }}"
                                                                                            value="{{ tag }}"
                                                                                            data-tag-hidden-id="{{ tag }}"
                                                                                        >
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                                <div
                                                                                        class="tag-list-container"
                                                                                        data-category-id="{{ cat3.id }}"
                                                                                >
                                                                                    {{ tagList3|raw }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="hidden_msg" id="error_ctag">
                                                                                Required Field
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {# End Level Three Panel #}
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="row mb-3">
                                                        <div class="col-12 pe-0">
                                                            No Third level categories
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            </div>
                                        </div>
                                        {# End Third Level #}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-12 pe-0">
                                No second level categories
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {# Second Level #}
        </section>
    </form>

    {# Second Level Modal #}
    <div class="modal fade" id="second_level_modal" tabindex="-1" aria-labelledby="second_level_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form name="form_category2" id="form_category2" method="post">
                    <input type="hidden" name="parent-id" value="{{ category.id|default(0) }}">
                    <input type="hidden" name="level" value="2">
                    <div class="modal-body">
                        <button type="button" class="btn-close flash-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="row">
                            <div class="col-12">
                                <label class="mb-2">
                                    Category <span class="text-danger">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="category"
                                    id="category"
                                    data-parent-id="{{ app.request.get('categoryId')|default(0) }}"
                                    placeholder="Category Name"
                                >
                                <div class="hidden_msg" id="error_category2">
                                    Required Field
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <label class="mb-2">
                                    Tags
                                </label>
                                <div class="position-relative">
                                    <div
                                        class="form-control cursor-text text-placeholder tag"
                                        data-category-id=""
                                        id="modal_category2_parent_id"
                                    >
                                            Select Tags
                                    </div>
                                    <div id="tag_list" class="row tag_list" style="display: none">
                                        <div class="tag-list-container">
                                            {{ tagList2|raw }}
                                        </div>
                                    </div>
                                    <div class="hidden_msg" id="error_ctag">
                                        Required Field
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Third Level Modal #}
    <div class="modal fade" id="third_level_modal" tabindex="-1" aria-labelledby="third_level_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form name="form_category3" id="form_category3" method="post">
                    <input
                        type="hidden"
                        name="parent-id"
                        id="modal_parent_category_id"
                        value="0"
                    >
                    <input type="hidden" name="level" value="3">
                    <input type="hidden" name="root-id" value="{{ app.request.get('categoryId') }}">
                    <div class="modal-body">
                        <button type="button" class="btn-close flash-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="row">
                            <div class="col-12">
                                <label class="mb-2">
                                    Category <span class="text-danger">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="category"
                                    data-parent-id="0"
                                    placeholder="Category Name"
                                >
                                <div class="hidden_msg error-category">
                                    Required Field
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <label class="mb-2">
                                    Tags
                                </label>
                                <div class="position-relative">
                                    <div
                                        class="form-control cursor-text text-placeholder tag"
                                        data-category-id=""
                                        id="modal_category3_parent_id"
                                    >
                                        Select Tags
                                    </div>
                                    <div id="tag_list" class="row tag_list" style="display: none">
                                        <div class="tag-list-container">
                                            {{ tagList3|raw }}
                                        </div>
                                    </div>
                                    <div class="hidden_msg error-tag">
                                        Required Field
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Second Level -->
    <div class="modal fade" id="modal_delete_level" tabindex="-1" aria-labelledby="level2_delete_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="level2_delete_label">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-0">
                            Are you sure you would like to delete this category? This action cannot be undone.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">CANCEL</button>
                    <button
                        type="submit" class="btn btn-danger btn-sm"
                        id="delete_category"
                        data-category-id=""
                        data-level=""
                    >DELETE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Second Level -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Categories #}
            $(document).on('submit', '#category_form', function (e){

                e.preventDefault();

                let category = $('#category').val();
                let category2 = $('[name^="level2_category"]');
                let category3 = $('[name^="level3_category"]');
                let btn = document.activeElement.getAttribute('name');
                let errorCategory = $('#error_category');
                let errorCatLevel2 = $('.level2-msg');
                let errorCatLevel3 = $('.level3-msg');
                let isValid = true;

                errorCategory.hide();
                errorCatLevel2.hide();
                errorCatLevel3.hide();


                if(category === '' || category === 'undefined'){

                    errorCategory.show();
                    isValid = false;
                }

                category2.each(function () {

                    if($(this).val() == '' || $(this).val() == 'undefined'){

                        $(this).next().show();
                        isValid = false;
                    }
                });

                category3.each(function () {

                    if($(this).val() == '' || $(this).val() == 'undefined'){

                        $(this).next().show();
                        isValid = false;
                    }
                });

                if(isValid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('category_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            // First Level
                            $('.cat1-name').empty().append('Editing <b>'+ category +'</b>');

                            // Second Level
                            let count = 0;

                            $('.cat2-name').each(function () {

                                $(this).empty().append(response.level2[count]);

                                count++;
                            });

                            // Third Level
                            count = 0;

                            $('.cat3-name').each(function () {

                                $(this).empty().append(response.level3[count]);

                                count++;
                            });

                            isLoading(false);
                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4>Editing '+ response.category +'</h4>');

                            if(btn === 'save_return'){

                                window.location.assign('{{ path('categories_list',{ 'page_id':1 }) }}');
                            }

                            if({{ app.request.get('categoryId') }} == 0){

                                window.location.assign('{{ app.request.schemeAndHttpHost }}/admin/category/'+ response.categoryId);
                            }
                        }
                    });
                }
            });
            {# End Save Categories #}

            {# Delete Categories2 #}
            $(document).on('click', '.level2-delete, .level3-delete', function (e) {

                e.preventDefault();

                let categoryId = $(this).attr('data-category-id');
                let level = $(this).attr('data-level');

                if(level == 2 || level == 3) {

                    $('#delete_category').attr('data-category-id', categoryId);
                    $('#delete_category').attr('data-level', level);

                } else {
                    
                    alert('Level is not set correctly!');
                }
            });
            $(document).on('click', '#delete_category', function () {

                let categoryId = $(this).attr('data-category-id');
                let level = $(this).attr('data-level');

                if(categoryId > 0 && level > 1){

                    $.ajax({
                        url: "{{ path('category_delete') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'category-id':categoryId,
                            'level':level
                        },
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            if(level == 2) {

                                $('[data-category2-row="' + categoryId + '"]').remove();
                                $('#modal_delete_level').modal('toggle');

                            } else {

                                $('[data-category3-row="' + categoryId + '"]').remove();
                                $('#modal_delete_level').modal('toggle');
                            }

                            if(response == 'false'){

                                alert('An error occurred!');

                            } else {

                                isLoading(false);
                                getFlash(response)
                            }
                        }
                    });
                }
            });
            {# End Delete Categories2 #}

            {# Level Two Tag Dropdown #}
            let array = {{ arr|raw }};
            $(document).on('submit', '#form_category2', function (e){

                e.preventDefault();

                let category = $(this).find('[name="category"]').val();
                let errorCategory = $(this).find('.error-category');
                let isValid = true;

                errorCategory.hide();

                if(category === '' || category === 'undefined'){

                    errorCategory.show();
                    isValid = false;
                }

                if(isValid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('sub_categories_save') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            $('#level2_container').empty().append(response.list);
                            getFlash(response.flash);
                            $('#second_level_modal').modal('toggle');
                            isLoading(false);
                            category.val('');
                        }
                    });
                }
            });
            $(document).on('submit', '#form_category3', function (e){

                e.preventDefault();

                let category = $(this).find('[name="category"]').val();
                let errorCategory = $(this).find('.error-category');
                let isValid = true;

                errorCategory.hide();

                if(category === '' || category === 'undefined'){

                    errorCategory.show();
                    isValid = false;
                }

                if(isValid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('sub_categories_save') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            $('#level2_container').empty().append(response.list);
                            getFlash(response.flash);
                            isLoading(false);
                            $('#third_level_modal').modal('toggle');
                            category.val('');
                        }
                    });
                }
            });
            $(document).on('click', '.tag', function (){

                $(this).next().show(700);
            });
            $(document).mouseup(function(e){

                let container = $('.tag_list');

                // if the target of the click isn't the container nor a descendant of the container
                if (!container.is(e.target) && container.has(e.target).length === 0)
                {
                    container.hide(700);
                }
            });
            $(document).on('click', '.tag-edit-icon', function (e){

                e.preventDefault();

                let editField = $(this).parent().prev().find('.tag-form-ctrl');
                $.session.set('tag', editField.val());

                editField.show();
                $(this).parent().prev().find('.tag_string').hide();
                $(this).hide();
                $(this).parent().find('.tag-save-icon').show();
                $(this).parent().find('.tag-cancel-icon').show();
                $(this).parent().find('.tag-remove-icon').hide();
            });
            $(document).on('click', '.tag-cancel-icon', function (e){

                e.preventDefault();

                let editField = $(this).parent().prev().find('.tag-form-ctrl');

                editField.hide();
                $(this).parent().prev().find('.tag_string').show();
                editField.val($.session.get('tag'));
                $(this).parent().next().find('.tag-edit-icon').show();
                $(this).parent().find('.tag-save-icon').hide();
                $(this).parent().find('.tag-cancel-icon').hide();
                $(this).parent().prev().find('.hidden_msg').hide();
            });
            $(document).on('click',' .tag-save-icon', function (e){

                e.preventDefault();

                let tagId = $(this).data('tag-id');
                let tag = $(this).parent().prev().find('.tag-form-ctrl').val();
                let tag_error = $(this).parent().prev().find('.hidden_msg').hide();
                let is_valid = true;

                tag_error.hide();

                if(tag === '' || tag === 'undefined'){

                    tag_error.show();
                    is_valid = false;
                }

                if(is_valid){

                    $.ajax({
                        url: "{{ path('categories_save_tag') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            tagId:tagId,
                            tag:tag
                        },
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function () {

                            let editField = $(this).parent().prev().find('.tag-form-ctrl');

                            editField.hide();
                            $(this).parent().prev().find('.tag_string').empty().append(tag).show();
                            editField.val(tag);
                            $(this).parent().next().find('.tag-edit-icon').show();
                            $(this).parent().find('.tag-save-icon').hide();
                            $(this).parent().find('.tag-cancel-icon').hide();
                            $(this).parent().prev().attr('data-tag', tag);
                            $('#tag_badge_string_'+ tagId).empty().append(tag);
                            isLoading(false);
                        }
                    });

                } else {

                    alert('An error occurred.');
                }
            });
            $(document).on('mouseover', '.edit-tag', function (){

                let tagId = $(this).data('tag-id');

                if($(this).find('.tag-save-icon').is(':hidden')) {

                    $(this).find('.tag-edit-icon').show();

                    if(array.includes(tagId)) {

                        $(this).find('.tag-remove-icon').show();

                    } else {

                        $(this).find('.tag-remove-icon').hide();
                    }
                }
            });
            $(document).on('mouseout', '.edit-tag', function (){

                let tagId = $(this).data('tag-id');

                if($(this).find('.tag-save-icon').is(':hidden')) {

                    $(this).find('.tag-edit-icon').hide();
                    $(this).find('.tag-remove-icon').hide();
                }
            });
            $(document).on('click', '.tag-select', function (){

                let catId = $(this).closest('.tag-list-container').attr('data-category-id');
                {#let categoryId = catId ? catId : {{ app.request.get('categoryId') ? app.request.get('categoryId') : 0 }};#}
                let tagId = $(this).data('tag-id');
                let tag = $(this).attr('data-tag');
                let level = $(this).attr('data-level');
                let parentId = $(this).closest('.position-relative').find('.tag').data('category-id');

                if($(this).find('.tag-form-ctrl').is(':hidden')) {

                    let hidden_field = '<input type="hidden" name="tag['+ level +']['+ parentId +'][]" class="tag_hidden"';
                    hidden_field += ' data-name="'+ tag +'" value="' + tagId + '" >';
                    $(this).closest('.tag_list').prepend(hidden_field);
                    $(this).removeClass('tag-select');
                    $(this).next().find('.tag-remove-icon').show();

                    let badge = getChildBadges($(this).closest('.tag_list').find('input[name="tag['+ level +']['+ parentId +'][]"]'), 'tag');

                    $(this).closest('.tag_list').prev().empty().append(badge);

                    // Create array of array ids
                    array = [];
                    hiddenField = $('.tag_hidden');

                    if(hiddenField.length > 0){

                        hiddenField.each(function (){

                            array.push(parseInt($(this).val()));
                        });
                    }
                }
            });
            $(document).on('click', '.tag-remove-icon', function (e){

                e.preventDefault();

                let tagId = $(this).data('tag-id');

                $(this).closest('.tag_list').prev().find('[data-tag-id="'+ tagId +'"]').remove();
                $(this).parent().prev().addClass('tag-select');
                $(this).closest('.tag_list').find('[data-tag-hidden-id="'+ tagId +'"]').remove();
                $(this).hide();

                let count = $(this).closest('.tag_list').prev().find('.bg-disabled').length;

                if(count == 0){

                    $(this).closest('.position-relative').find('.tag').append('Select Tags');
                }

                // Remove from selected array
                let index = array.indexOf(tagId);
                if (index >= 0) {
                    array.splice( index, 1 );
                }

                if($('.tag_hidden').length === 0){

                    $('#tag').empty().append('Select a tag');
                }
            });
            $(document).on('click', '.tag-create-string', function (e){

                e.preventDefault();

                $(this).hide();
                $(this).parent().find('.tag-create-field').show();
                $(this).parent().next().find('.tag-create-cancel-icon').show();
                $(this).parent().next().find('.tag-create-save-icon').show();
            });
            $(document).on('click', '.tag-create-cancel-icon', function (e){

                e.preventDefault();

                $(this).parent().prev().find('.tag-create-string').show();
                $(this).parent().prev().find('.tag-create-field').hide();
                $(this).hide();
                $(this).parent().find('.tag-create-save-icon').hide();
            });
            $(document).on('click', '.tag-create-save-icon', function (e){

                e.preventDefault();

                let tag = $(this).parent().prev().find('.tag-create-field').val();
                let error_tag = $(this).parent().prev().find('.hidden_msg');
                let categoryId = {{ app.request.get('categoryId') ? app.request.get('categoryId') : 0 }};
                let is_valid = true;

                error_tag.hide();

                if(tag === '' || tag === 'undefined'){

                    error_tag.show()
                    is_valid = false;
                }

                if(is_valid){

                    let container = $(this).closest('.tag-list-container');

                    $.ajax({
                        url: "{{ path('categories_save_tag') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            tagId:0,
                            category_id: categoryId,
                            tag:tag
                        },
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            container.empty().append(response);
                            isLoading(false);
                        }
                    });
                }
            });
            $(document).on('click', '.level2-edit', function (e){

                e.preventDefault();

                $('.level2-panel').slideUp(700);
                $('.level3-panel').slideUp(700);

                if($(this).closest('.row').next().is(':hidden')){

                    $(this).closest('.row').next().slideDown(700);
                }
            });
            $(document).on('click', '.level3-edit', function (e){

                e.preventDefault();

                $('.level3-panel').slideUp(700);

                if($(this).closest('.row').next().is(':hidden')){

                    $(this).closest('.row').next().slideDown(700);
                }
            });
            $(document).on('click', '.multi-select', function (){

                let levelId = parseInt($(this).attr('data-level'));
                let categoryId = parseInt($(this).attr('data-category-id'));
                array = {{ arr|raw }};

                if(categoryId > 0) {
                    $.ajax({
                        url: '/admin/category/get-tag-array/' + categoryId,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            level_id: levelId,
                            category_id: categoryId,
                        },
                        beforeSend: function (){
                            isLoading(true);
                        },
                        complete: function(e){
                            if(e.status === 500){
                                window.location.href = '{{ path('admin_error_500') }}';
                            }
                        },
                        success: function (response) {

                            array = response;
                            isLoading(false);
                        }
                    });
                }

            });
            $(document).on('click', '.category3-modal-link', function (){

                $('#modal_category3_parent_id').attr('data-category-id', $(this).attr('data-category-id'));
                $('#modal_category3_parent_id').empty().append('Select Tags');
                $('#modal_category3_parent_id').next().find('.tag_hidden').remove();
                $('#modal_category3_parent_id').next().find('.col-10').removeClass('tag-select').addClass('tag-select');
                $('#modal_parent_category_id').val($(this).attr('data-category-id'));
                $('#modal_parent_category_id').val($(this).attr('data-category-id'));
                array = [];
            });
            $(document).on('click', '.category2-modal-link', function (){

                $('#modal_category2_parent_id').attr('data-category-id', $(this).attr('data-category-id'));
                $('#modal_category2_parent_id').empty().append('Select Tags');
                $('#modal_category2_parent_id').next().find('.tag_hidden').remove();
                $('#modal_category2_parent_id').next().find('.col-10').removeClass('tag-select').addClass('tag-select');
                $('#modal_parent_category_id').val({{ app.request.get('categoryId')|default(0) }});
                array = [];
            });
            {# End Level Two Tag Dropdown #}

            function getChildBadges(element, label){

                let arr = [];

                $(element).each(function() {
                    console.log(element);
                    let val = $(this).val();
                    let name = $(this).data('name');

                    arr.push({'id':val, 'name': name});
                });

                let badge = '';

                for(let i = 0; i < arr.length; i++){

                    badge += '<span class="badge bg-disabled me-3 my-1" data-tag-id="'+ arr[i].id +'">';
                    badge += '<span  id="'+ label +'_badge_string_'+ arr[i].id +'">' + arr[i].name + '</span>';
                    badge += '</span>';
                }

                return badge;
            } 
        });
    </script>
{% endblock %}