{% extends 'Admin/layout_list.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row border-bottom admin-header" style="left: 16.8%">
        <div class="col-12 col-md-6 text-truncate mt-1 pt-3 pb-3 ps-4">
            <h4 class="text-truncate m-0">Countries</h4>
        </div>
        <div class="col-12 col-md-5 mt-1 pt-3 pb-3">
            <div class="input-group">
                <input
                    name="search-string"
                    id="search_string"
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Search..."
                >
                <div class="input-group-append">
                    <button
                        class="btn btn-primary btn-sm"
                        id="search_btn"
                    >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a
                        href="{{ path('countries_list', {'page_id':1}) }}"
                        class="btn btn-secondary btn-sm"
                    >
                        <i class="fa-solid fa-rotate-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3 pt-2 pt-sm-4 mt-sm-5 border-left border-right">
        <div class="row pb-3 border-bottom d-none d-md-flex">
            <div class="col-1 fw-bold ps-4 text-truncate">
                #ID
            </div>
            <div class="col-4 fw-bold text-truncate">
                Country
            </div>
            <div class="col-1 fw-bold text-truncate">
                Currency
            </div>
            <div class="col-1 fw-bold text-truncate">
                Active
            </div>
            <div class="col-2 fw-bold text-truncate">
                Modified
            </div>
            <div class="col-2 fw-bold text-truncate">
                Created
            </div>
        </div>
        <div id="countries">
        {% for country in countries %}
            <div class="row py-3 border-bottom-dashed" id="row_{{ country.id }}">
                <div class="col-4 fw-bold ps-4 d-block d-md-none text-truncate">
                    #ID
                </div>
                <div class="col-8 col-md-1 ps-4 text-truncate">
                    #{{ country.id }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Country
                </div>
                <div class="col-8 col-md-4 text-truncate">
                    {{ country.name }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Currency
                </div>
                <div class="col-8 col-md-1 text-truncate">
                    {{ country.currency }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Active
                </div>
                <div class="col-8 col-md-1 text-truncate">
                    {{ country.isActive|default(0) }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Modified
                </div>
                <div class="col-8 col-md-2 text-truncate">
                    {{ country.modified|date('Y-m-d H:i:s') }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Created
                </div>
                <div class="col-8 col-md-2 text-truncate">
                    {{ country.created|date('Y-m-d') }}
                </div>
                <div class="col-12 col-md-1 text-truncate mt-3 mt-md-0">
                    <a
                        href="{{ path('country', {'countryId':country.id} ) }}"
                        class="float-start float-md-end open-country-modal ms-5 ms-md-0"
                    >
                        <i class="fa-solid fa-pen-to-square edit-icon"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row py-3">
            <div class="col-12">
                {{ pagination|raw }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            $(document).on('click', '#search_btn', function (e){

                e.preventDefault();

                let searchString = $('#search_string').val();

                if(searchString != '' || searchString != 'undefined') {

                    $.ajax({
                        url: "{{ path('countries_search') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'search-string': searchString,
                        },
                        success: function (response) {

                            $('#countries').empty().append(response.html);
                            $('.custom-pagination').hide();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}