{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="manufacturers_form" id="manufacturers_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="manufacturer-id" id="manufacturer_id" value="{{ manufacturer.id ? manufacturer.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="row w-100">
                <div class="col-12 col-md-6 content-header-title">
                    <h4 class="text-truncate">
                        {% if manufacturer.id > 0 %}
                            Editing {{ nzo_decrypt(manufacturer.name) }}
                        {% else %}
                            New Manufacturer
                        {% endif %}
                    </h4>
                </div>
                <div class="col-12 col-md-6">
                    <button
                        class="action-saveAndReturn btn btn-primary action-save w-sm-100 mb-3 mb-sm-0 float-end text-truncate"
                        type="submit"
                        name="save_return"
                    >
                        <span class="btn-label">Save and exit</span>
                    </button>
                    <button
                        class="action-saveAndContinue btn btn-secondary action-save w-sm-100 mb-3 mb-sm-0 me-0 me-md-3 float-end text-truncate"
                        type="submit"
                        name="save_continue"
                    >
                        <span class="btn-label">
                            <i class="action-icon far fa-edit"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </section>

        <section class="px-4" style="margin-top: 105px">
            <div class="row mt-4">
                {# Manufacturer Name #}
                <div class="col-12 col-sm-6">
                    <label>
                        Business Name <span class="text-danger">*</span>
                    </label>
                    <input type="checkbox" name="contact_me_by_fax_only" value="1" tabindex="-1" class="hidden" autocomplete="off">
                    <input
                        type="text"
                        name="manufacturer-name"
                        id="manufacturer_name"
                        class="form-control"
                        placeholder="Company Name"
                        value="{{ nzo_decrypt(manufacturer.name) }}"
                    >
                    <div class="hidden_msg" id="error_manufacturer_name">
                        Required Field
                    </div>
                </div>

                {# Logo #}
                <div class="col-12 col-sm-6">
                    <div class="row m-0">
                        <div class="col-11 ps-0" id="logo_file">
                            <label>Logo <span class="text-danger">*</span></label>
                            <input type="file" name="logo" id="logo" class="form-control" placeholder="Business Logo*">
                        </div>
                        <div class="col-1 ps-0 pe-0" id="logo_col">
                            <a href="" data-bs-toggle="modal" data-bs-target="#modal_logo">
                                <i class="fa-regular fa-image img-icon float-end"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                {# First Name #}
                <div class="col-12 col-sm-6">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        name="first-name"
                        id="first_name"
                        class="form-control"
                        placeholder="First Name"
                        value="{{ nzo_decrypt(manufacturer.firstName) }}"
                    >
                    <div class="hidden_msg" id="error_first_name">
                        Required Field
                    </div>
                </div>

                {# Last Name #}
                <div class="col-12 col-sm-6">
                    <label>Last Name <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        name="last-name"
                        id="last_name"
                        class="form-control"
                        placeholder="Last Name"
                        value="{{ nzo_decrypt(manufacturer.lastName) }}"
                    >
                    <div class="hidden_msg" id="error_last_name">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Email #}
                <div class="col-12 col-sm-6">
                    <label>Business Email <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        name="email"
                        id="email"
                        class="form-control"
                        placeholder="Email"
                        value="{{ nzo_decrypt(manufacturer.email) }}"
                    >
                    <div class="hidden_msg" id="error_email">
                        Required Field
                    </div>
                </div>

                {# Telephone #}
                <div class="col-12 col-sm-6">
                    <label>Business Telephone <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        name="telephone"
                        id="telephone"
                        class="form-control"
                        placeholder="Telephone"
                        value="{{ nzo_decrypt(manufacturer.telephone) }}"
                    >
                    <input type="hidden" value="{{ nzo_decrypt(manufacturer.telephone) }}" name="mobile-no" id="mobile_no">
                    <input type="hidden" name="iso-code" id="manufacturer_iso_code" value="{{ nzo_decrypt(manufacturer.isoCode) }}">
                    <input type="hidden" name="intl-code" id="manufacturer_intl_code" value="{{ nzo_decrypt(manufacturer.intlCode) }}">
                    <div class="hidden_msg" id="error_telephone">
                        Required Field
                    </div>
                </div>
            </div>

            {# Modal Logo #}
            <div class="modal fade" id="modal_logo" tabindex="-1" aria-labelledby="product_delete_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="border: none; padding-bottom: 0">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0">
                            <div class="row">
                                <div class="col-12 mb-0 text-center">
                                    <img src="{{ asset('images/logos/' ~ manufacturer.logo) }}" id="logo_img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Products #}
            // International Numbers
            let input = document.querySelector('#telephone');
            let iti = window.intlTelInput(input, {
                {% if manufacturer.isoCode is not null %}
                    initialCountry: '{{ nzo_decrypt(manufacturer.isoCode|default('ae')) }}',
                {% else %}
                    initialCountry: 'ae',
                    geoIpLookup: function(success, failure) {
                        $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                            var countryCode = (resp && resp.country) ? resp.country : "ae";
                            success(countryCode);
                        });
                    },
                {% endif %}
                preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                autoPlaceholder: "polite",
                nationalMode: true,
                utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                separateDialCode: true,
                utilsScript: "/js/utils.js",
            });

            let handleChange = function() {
                let mobile = $('#mobile_no');
                let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                let textNode = document.createTextNode(mobile_number);

                if(mobile_number != false){

                    let iso_code = iti.getSelectedCountryData().iso2;
                    let intl_code = iti.getSelectedCountryData().dialCode;

                    mobile.val(mobile_number.substring(1));
                    $('#manufacturer_iso_code').val(iso_code);
                    $('#manufacturer_intl_code').val(intl_code);

                }
            };

            // listen to "keyup", but also "change" to update when the user selects a country
            input.addEventListener('change', handleChange);
            input.addEventListener('keyup', handleChange);

            $(document).on('submit','#manufacturers_form', function (e){

                e.preventDefault();

                let isValid = true;
                let manufacturerName = $('#manufacturer_name').val();
                let firstName = $('#first_name').val();
                let lastName = $('#last_name').val();
                let email = $('#email').val();
                let telephone = $('#mobile_no').val();
                let errorManufacturerName = $('#error_manufacturer_name');
                let errorFirstName = $('#error_first_name');
                let errorLastName = $('#error_last_name');
                let errorEmail = $('#error_email');
                let errorTelephone = $('#error_telephone');
                let btn = document.activeElement.getAttribute('name');

                errorManufacturerName.hide();
                errorFirstName.hide();
                errorLastName.hide();
                errorEmail.hide();
                errorTelephone.hide();

                if(manufacturerName == '' || manufacturerName == 'undefined'){

                    errorManufacturerName.show();
                    isValid = false;
                }

                if(firstName == '' || firstName == 'undefined'){

                    errorFirstName.show();
                    isValid = false;
                }

                if(lastName == '' || lastName == 'undefined'){

                    errorLastName.show();
                    isValid = false;
                }

                if(email == '' || email == 'undefined'){

                    errorEmail.empty().append('Required Field').show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    errorTelephone.show();
                    isValid = false;
                }

                if(isValid == true){

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('manufacturer_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4 class="text-truncate">Editing '+ response.manufacturer +'</h4>');

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('manufacturers_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save Products #}
        });

    </script>
{% endblock %}