{% extends 'Admin/layout_list.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row border-bottom admin-header" style="left: 16.8%;">
        <div class="col-12 col-md-3 text-truncate mt-1 pt-3 pb-3 ps-4">
            <h4 class="text-truncate m-0">Restricted Domains</h4>
        </div>
        <div class="col-12 col-sm-9 text-truncate mt-1 pt-3 pb-3 px-4">
            <div class="input-group">
                <input
                        name="search-string"
                        id="search_string"
                        class="form-control form-control-sm"
                        type="text"
                        placeholder="Search..."
                >
                <div class="input-group-append">
                    <button
                            class="btn btn-primary btn-sm w-sm-100 mt-2 mt-sm-0"
                            id="search_btn"
                    >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a
                            href="{{ path('restricted_domain') }}"
                            class="btn btn-primary btn-sm float-end w-sm-100 text-truncate mt-2 mt-sm-0 ms-2"
                    >
                        <i class="fa-solid fa-circle-plus me-2"></i> ADD DOMAIN
                    </a>
                    <a
                            href="{{ path('restricted_domains_list', {'page_id':1}) }}"
                            class="btn btn-secondary float-end btn-sm ms-sm-2 w-sm-100 mt-2 mt-sm-0"
                    >
                        <i class="fa-solid fa-rotate-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3 pt-2 pt-sm-4 mt-sm-5 border-left border-right">
        <div class="row pb-3 border-bottom d-none d-md-flex">
            <div class="col-1 fw-bold ps-4 text-truncate">
                #ID
            </div>
            <div class="col-6 fw-bold text-truncate">
                API Name
            </div>
            <div class="col-2 fw-bold text-truncate">
                Modified
            </div>
            <div class="col-2 fw-bold text-truncate">
                Created
            </div>
        </div>
        <div id="domains">
        {% if domains|length > 0 %}
            {% for domain in domains %}
            <div class="row py-3 border-bottom-dashed" id="row_{{ domain.id }}">
                <div class="col-4 fw-bold ps-4 d-block d-md-none text-truncate">
                    #ID
                </div>
                <div class="col-8 col-md-1 ps-4 text-truncate">
                    #{{ domain.id }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    API Name
                </div>
                <div class="col-8 col-md-6 text-truncate">
                    {{ domain.name }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Modified
                </div>
                <div class="col-8 col-md-2 text-truncate">
                    {{ domain.modified|date('Y-m-d H:i:s') }}
                </div>
                <div class="col-4 ps-4 d-block d-md-none fw-bold text-truncate">
                    Created
                </div>
                <div class="col-8 col-md-2 text-truncate">
                    {{ domain.created|date('Y-m-d') }}
                </div>
                <div class="col-12 col-md-1 text-truncate mt-3 mt-md-0">
                    <a
                        href="{{ path('restricted_domain', {'domainId':domain.id} ) }}"
                        class="float-end open-tag-modal"
                    >
                        <i class="fa-solid fa-pen-to-square edit-icon"></i>
                    </a>
                    <a
                        href=""
                        class="delete-icon float-start float-sm-end ms-5 ms-md-0 open-delete-domain-modal"
                        data-bs-toggle="modal"
                        data-domain-id="{{ domain.id }}"
                        data-bs-target="#modal_delete_domain"
                    >
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-12 pt-3 ps-4 text-truncate">
                    No Results Found
                </div>
            </div>
        {% endif %}
        </div>
        <div class="row py-3">
            <div class="col-12">
                {{ pagination|raw }}
            </div>
        </div>
    </div>

    <!-- Delete Active Ingredients Modal -->
    <div class="modal fade" id="modal_delete_domain" tabindex="-1" aria-labelledby="domain_delete_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="domain_delete_label">Delete Domain</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-0">
                            Are you sure you would like to delete this domain? This action cannot be undone.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-danger btn-sm" id="delete_domain">DELETE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Manufacturer Modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            $(document).on('click', '#search_btn', function (e) {

                e.preventDefault();

                let searchString = $('#search_string').val();

                if(searchString != '' || searchString != 'undefined') {

                    $.ajax({
                        url: "{{ path('restricted_domain_search') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'search-string': searchString,
                        },
                        success: function (response) {

                            $('#domains').empty().append(response.html);
                            $('.custom-pagination').hide();
                        }
                    });
                }
            });

            $(document).on('click', '.delete-icon', function (e){

                $('#delete_domain').attr('data-domain-id', $(this).data('domain-id'));
            });
            $(document).on('click', '#delete_domain', function (e){

                let domainId = $(this).attr('data-domain-id');

                $.ajax({
                    url: "{{ path('domain_crud') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        delete:domainId,
                    },
                    success: function (response) {

                        getFlash(response);
                        $('#modal_delete_domain').modal('toggle');
                        $('#row_'+ domainId).remove();
                    }
                });
            });
        });
    </script>
{% endblock %}