{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="tags_form" id="tags_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="tagId" id="tag_id" value="{{ tag.id ? tag.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="row w-100">
                <div class="col-12 col-md-6">
                    <h4 class="text-truncate">
                        {% if tag.id > 0 %}
                            Editing <b>{{ tag.name }}</b>
                        {% else %}
                            New Tag
                        {% endif %}
                    </h4>
                </div>
                <div class="col-12 col-md-6">
                    <button
                        class="action-saveAndReturn btn btn-primary action-save w-sm-100 mb-3 mb-sm-0 float-end text-truncate"
                        type="submit"
                        name="save_return"
                    >
                        <span class="btn-label">Save and exit</span>
                    </button>
                    <button
                        class="action-saveAndContinue btn btn-secondary action-save w-sm-100 mb-3 mb-sm-0 me-0 me-md-3 float-end text-truncate"
                        type="submit"
                        name="save_continue"
                    >
                        <span class="btn-label">
                            <i class="action-icon far fa-edit"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </section>

        <section class="px-4" style="margin-top: 105px">
            <div class="row mt-4">
                {# Tag Name #}
                <div class="col-12">
                    <label class="ms-2 text-primary">
                        Tag <span class="text-danger">*</span>
                    </label>
                    <input
                        name="tag_name"
                        id="tag_name"
                        class="form-control"
                        type="text"
                        value="{{ tag.name }}"
                        placeholder="Tag Name"
                    >
                    <div class="hidden_msg" id="error_tag_name">
                        Required Field
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Tag #}
            $(document).on('submit', '#tags_form', function (e){

                e.preventDefault();

                let tag = $('#tag_name').val();
                let is_valid = true;
                let btn = document.activeElement.getAttribute('name');
                let error_tag = $('#error_tag_name');

                error_tag.hide();

                if(tag == '' || tag == 'undefined'){

                    error_tag.show();
                    is_valid = false;
                }

                if(is_valid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('tag_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4>Editing '+ response.tag +'</h4>');

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('tags_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save Products #}
        });

    </script>
{% endblock %}