{% extends 'layout.html.twig' %}

{% block title %}Fluid{% endblock %}

{% block body %}
<form method="post" id="register_form">
    <div class="container mb-5">
        <div class="row pt-3">
            <div class="col-12 text-center mt-1 pt-3 pb-3" id="order_header">
                <h4 class="text-primary">Let's Create Your Account.</h4>
                <span class="text-primary">
                    Signing up for your Fluid is fast and free - be up and running in under a minute.
                </span>
            </div>
        </div>

        {# First Name + Last Name #}
        <div class="row pb-3 bg-light border-left border-right">

            {# First Name #}
            <div class="col-12 col-sm-6">
                <label>First Name <span class="text-danger">*</span></label>
                <input type="text" name="first-name" id="first_name" class="form-control" placeholder="First Name*">
                <div class="hidden_msg" id="error_first_name">
                    Required Field
                </div>
            </div>

            {# Last Name #}
            <div class="col-12 col-sm-6">
                <label>Last Name <span class="text-danger">*</span></label>
                <input type="text" name="last-name" id="last_name" class="form-control" placeholder="Last Name*">
                <div class="hidden_msg" id="error_last_name">
                    Required Field
                </div>
            </div>
        </div>

        {# Email + Telephone #}
        <div class="row pb-3 bg-light border-left border-right">

            {# Email #}
            <div class="col-12 col-sm-6">
                <label>Email Address <span class="text-danger">*</span></label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email*">
                <div class="hidden_msg" id="error_email">
                    Required Field
                </div>
            </div>

            {# Telephone #}
            <div class="col-12 col-sm-6">
                <label>Business Telephone <span class="text-danger">*</span></label>
                <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telephone*">
                <input type="hidden" value="" name="mobile" id="mobile">
                <input type="hidden" name="iso-code" id="iso_code" value="">
                <input type="hidden" name="intl-code" id="intl_code" value="">
                <div class="hidden_msg" id="error_telephone">
                    Required Field
                </div>
            </div>
        </div>

        {# Country #}
        <div class="row pb-3 bg-light border-left border-right">
            <div class="col-12 col-sm-6">
                <label>Located In <span class="text-danger">*</span></label>
                <select name="country" id="country" class="form-control" style="color:#b1abb0 !important">
                    <option value="">Country</option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <div class="hidden_msg" id="error_country">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 ps-0 pe-0">
                <button id="form_save" type="submit" class="btn btn-primary float-end w-100">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</form>

<div class="overlay"></div>
<div class="spanner">
    <div class="loader"></div>
    <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function ()
        {
            // International Numbers
            let input = document.querySelector('#telephone');
            iti = window.intlTelInput(input, {
                initialCountry: "auto",
                geoIpLookup: function(success, failure)
                {
                    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp)
                    {
                        var countryCode = (resp && resp.country) ? resp.country : "ae";
                        success(countryCode);
                    });
                },
                preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                autoPlaceholder: "polite",
                nationalMode: true,
                utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                separateDialCode: true,
                utilsScript: "/js/utils.js",
            });

            let handleChange = function()
            {
                let mobile = $('#mobile');
                let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                let textNode = document.createTextNode(mobile_number);

                if(mobile_number != false)
                {
                    let isoCode = iti.getSelectedCountryData().iso2;
                    let intlCode = iti.getSelectedCountryData().dialCode;

                    mobile.val(mobile_number.substring(1));
                    $('#iso_code').val(isoCode);
                    $('#intl_code').val(intlCode);
                }
            };

            // listen to "keyup", but also "change" to update when the user selects a country
            input.addEventListener('change', handleChange);
            input.addEventListener('keyup', handleChange);

            $(document).on('change', '#email', function ()
            {
                let email = $('#email').val();
                let errorEmail = $('#error_email');

                errorEmail.hide();

                $.ajax({
                    url: "{{ path('retail_check_email') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        email: email
                    },
                    complete: function(e, xhr, settings)
                    {
                        if(e.status === 500){
                            window.location.href = '{{ path('retail_error_500') }}';
                        }
                    },
                    success: function (response)
                    {
                        if(response.duplicate)
                        {
                            errorEmail.empty().append('Your business is already registered, please contact '+ response.firstName).show();
                        }
                    }
                });
            });
            $(document).on('submit','#register_form', function (e)
            {
                e.preventDefault();

                let isValid = true;
                let firstName = $('#first_name').val();
                let lastName = $('#last_name').val();
                let email = $('#email').val();
                let telephone = $('#mobile').val();
                let country = $('#country').val();
                let errorFirstName = $('#error_first_name');
                let errorLastName = $('#error_last_name');
                let errorEmail = $('#error_email');
                let errorTelephone = $('#error_telephone');
                let errorCountry = $('#error_country');

                errorFirstName.hide();
                errorLastName.hide();
                errorEmail.hide();
                errorTelephone.hide();
                errorCountry.hide();

                if(firstName == '' || firstName == 'undefined')
                {
                    errorFirstName.show();
                    isValid = false;
                }

                if(lastName == '' || lastName == 'undefined')
                {
                    errorLastName.show();
                    isValid = false;
                }

                if(email == '' || email == 'undefined')
                {
                    errorEmail.empty().append('Required Field').show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined')
                {
                    $('#telephone').val('');
                    errorTelephone.show();
                    isValid = false;
                }

                if(country == '' || country == 'undefined')
                {
                    errorCountry.show();
                    isValid = false;
                }

                if(isValid == true)
                {
                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('retail_create') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function ()
                        {
                            isLoading(true);
                        },
                        success: function (response)
                        {
                            $('#register_form').empty();
                            $('#register_form').addClass('text-center mt-5 mb-2').append(response);
                            isLoading(false);
                        }
                    });
                }
            });

            function isLoading(status)
            {
                if(status)
                {
                    $("div.spanner").addClass("show");
                    $("div.overlay").addClass("show");
                }
                else
                {
                    $("div.spanner").removeClass("show");
                    $("div.overlay").removeClass("show");
                }
            }
        });

    </script>
{% endblock %}
