{% extends 'layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html,body{
            width:100%;
            margin:0;
            height:100%;
            background: #fff !important;
        }
    </style>
{% endblock %}

{% block body %}
<div class="hidden users-flash mb-0" id="flash"></div>
<div class="container mb-3">
    <div class="row px-3 px-sm-0">
        <div class="col-12 px-0">
            <h4 class="pb-3 text-truncate">You're in good company.</h4>
            <span class="fs-5 d-block">
                Join over {{ sellers|length }} hospitals who use Fluid to simplify their purchasing
            </span>
        </div>
    </div>

    <div class="row mb-3 px-3 px-sm-0">
        {% for seller in sellers %}
        <div class="col-12 col-sm-4 p-3">
            <div class="row">
                <div class="col-12 bg-white border-xy p-3 text-center">
                    <img src="{{ base_url_remote ~ '/images/logos/' ~ seller.logo }}" style="max-height: 60px">
                    <h6 class="mt-3">{{ nzo_decrypt(seller.distributorName) }}</h6>
                    <p>
                        {{ nzo_decrypt(seller.addressStreet)|default('&nbsp')|raw }}<br>
                        {{ nzo_decrypt(seller.addressCity)|default('&nbsp')|raw }}<br>
                        {{ nzo_decrypt(seller.addressPostalCode)|default('&nbsp')|raw }}<br>
                        {{ seller.addressCountry.name|default('&nbsp')|raw }}<br>
                    </p>
                    <p>
                        <a href="https://{{ nzo_decrypt(seller.website)|default('#')|raw }}" target="_blank">
                            {{ nzo_decrypt(seller.website)|default('&nbsp')|raw }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="overlay"></div>
<div class="spanner">
    <div class="loader"></div>
    <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}