<footer class="footer pt-3 pt-md-4 bg-primary mt-auto" style="z-index: 999">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2 px-4 ps-md-5 mb-3 mb-md-0">
                <h6 class="text-white d-none d-md-block">&nbsp;</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Explore Products
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Who's using Fluid
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Why Is It Free
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-2 px-4 ps-md-0 mb-3 mb-md-0">
                <h6 class="text-white">Company</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="{{ path('articles_page', {'pageId':5}) }}" class="nav-link p-0 text-white">
                            About Fluid
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Careers
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{{ path('articles_page', {'pageId':2 }) }}" class="nav-link p-0 text-white">
                            Support
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a
                            href=""
                            class="nav-link p-0 text-white contact-link"
                            data-action="click->home-page#onClickContactLink"
                        >
                            Contact
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-2 px-4 ps-md-0 mb-3 mb-md-0">
                <h6 class="text-white">Resources</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="{{ path('articles_page', {'pageId': 3}) }}" class="nav-link p-0 text-white">
                            Privacy
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{{ path('articles_page', {'pageId': 4}) }}" class="nav-link p-0 text-white">
                            Terms
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{{ path('sellers_page') }}" class="nav-link p-0 text-white">
                            Sellers
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Brand Assets
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-4 offset-0 offset-md-1 text-white px-4 ps-md-0">
                <form>
                    <h6 class="text-white">Stay Informed</h6>
                    <p class="text-white">Recieve special offers and news</p>

                    <div class="d-flex w-100 gap-2">
                        <div class="row">
                            <div class="col-12 col-md-9 px-3 ps-md-0 mb-3 mb-md-0">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control w-sm-100 w-md-auto" placeholder="Email address">
                            </div>
                            <div class="col-12 col-md-3 px-3 ps-md-0">
                                <button class="btn btn-secondary w-sm-100 w-md-auto" type="button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="pt-4 mt-4 border-top text-white mx-0 mx-md-4" style="border-top-color: #848484 !important;">
            <div class="row">
                <div class="col-12 col-md-6 order-1 order-md-0">
                    <p class="ps-3 mb-0 text-white">© 2022 Fluid Digital Whollesale. All rights reserved.</p>
                </div>
                <div class="col-12 col-md-6 order-0 order-md-1 text-end px-4">
                    <ul class="list-unstyled d-flex float-end">
                        <li class="ms-3">
                            <a class="link-light" href="https://www.facebook.com/theveterinarygroup" target="_blank">
                                <i class="fab fa-facebook-square footer-icons"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-light" href="https://www.linkedin.com/company/the-veterinary-group-llc/" target="_blank">
                                <i class="fab fa-linkedin footer-icons"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-light" href="https://www.tiktok.com/@saracenhorsefeedsuae?lang=en" target="_blank">
                                <i class="fab fa-tiktok footer-icons"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-light" href="http://twitter.com/TheVetGroupLLC1" target="_blank">
                                <i class="fab fa-twitter-square footer-icons"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-light" href="http://instagram.com/thevet.group" target="_blank">
                                <i class="fab fa-instagram-square footer-icons"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-light" href="https://www.youtube.com/channel/UCw4gUpb0_l3KWGLMwaOq1-g" target="_blank">
                                <i class="fab fa-youtube-square footer-icons"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>