<nav class="navbar navbar-expand-lg navbar-light bg-white distributor-nav border-bottom">
        <div class="container-fluid">
            <button class="navbar-toggler" id="btn_navbar_toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar nav">
                <a href="{{ path('distributor_order_list', {'distributor_id':app.user.distributor.id }) }}">
                    <img src="{{ asset('images/logo.png') }}" class="img-fluid" style="max-height: 60px">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item position-relative pt-1 pb-1 pt-sm-0 pb-sm-0">
                        <a class="nav-link btn-notifications text-truncate" name="notifications" href="#">
                            <i class="far fa-bell pe-2 fa-width" id="notifications_icon"></i>
                            <span class="">Notifications</span>
                        </a>
                        <span id="notifications_panel" class="position-absolute end-0">
                            <span class="notification-panel delete-notification">You have no notifications</span>
                        </span>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="{{ path('distributors_logout') }}" data-bs-toggle="dropdown">
                            {{ nzo_decrypt(username) }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{{ path('distributors_logout') }}">
                                    <i class="fa-solid fa-ban"></i>&nbsp;&nbsp;Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>